.typeWindows-1za-n7 {
    background: url(http://www.fa-series.com/wp-content/uploads/2020/11/topbarmsn9-1.png);
background-size: cover;
}
.bg-h5JY_x {
    background-color: transparent;

}
.wordmarkWindows-1v0lYD {
    color: #2f445f00;
}
.winButtonClose-1HsbF- {
    content: url(http://www.fa-series.com/wp-content/uploads/2020/11/close2.png);
height:17px;
width:17px;
margin-top:5px;
margin-right:5px;
}
.winButtonMinMax-PBQ2gm.winButton-iRh8-Z.flexCenter-3_1bcw.flex-1O1GKY.justifyCenter-3D2jYp.alignCenter-1dQNNs {
height:17px;
width:17px;
margin-top:5px;
margin-right:5px;
}
.withFrame-haYltI {
height: 27px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.wrapper-1Rf91z {
    width: 39px;
    background-color: #63609b;
}
.tree-3tCaw8 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 39px;
}
.scroller-2TZvBN {
    background-color: #63609b;
background: linear-gradient(45deg, #63609b, #63609b, #63609b, #ffffff, #ffffff);
}
foreignObject {
    mask: none;
    opacity: 1;
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    color: #fff;
    background-color: #7289da00;
}
.childWrapper-anI2G9 {
     background-color: #fff0;
}
.tutorialContainer-1v44GL {
    position: relative;
}
.platform-win .scroller-2TZvBN {
    padding-top: 0px;
}
.homeIcon-tEMBK1 {
    display: block;
    width: 0px;
    height: 0px;
}
.tutorialContainer-1v44GL {
    position: relative;
    background: url(http://www.fa-series.com/wp-content/uploads/2020/11/contacttop.png);
margin-top:12px;
    margin-left:2px;
    background-repeat:no-repeat;
    margin-bottom:-8px;
}

.listItem-2P_4kh {
    position: relative;
    margin: 0px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40px;
    border: 0px solid #ababab;
    border-top: 0px solid #a2a2a273;
    border-left: solid 0px #cacaca;
    box-shadow: 0px 0px 0Px #5d5d5d;
    border-bottom: 0px solid #424242;
    padding-left: 0Px;
    margin-bottom: 0px;
    opacity: 1;
}
.svg-1X37T1, .wrapper-25eVIn {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 39px;
    height: 39px;
    opacity: 1;
    position: relative;
    z-index: 0;
    border-radius: 50%;
    border: 3px solid #ffffff00;
    left: -3px;
    top: -3px;
}
.unreadMentionsIndicatorBottom-BXS58x, .unreadMentionsIndicatorTop-gA6RCh {
    padding: 8px;
    height: 36px;
    width: 36px;
}
.wrapper-sa6paO {
    width: 39px;
    height: 39px;
}
.item-2hkk8m {
    position: fixed;
    display: block;
    width: 5px;
    border-radius: 0%;
    margin-left: 0px;
    background-color: #ff180000;
    height: 6px !important;
    border: 0px solid #780080;
    background: linear-gradient(to bottom left,#259401, #1bff00);
    margin: -17px 0px 1px 34px;
    z-index: 2;
}
.numberBadge-2s8kKX.base-PmTxvP {
    background: linear-gradient(45deg, #ff0202, #f3ec00fa);
}
/* nom serveur */
.name-1jkAdW, .tierTooltipTitle-3AtaZT {
    font-weight: 600;
    color: white;
    text-shadow: 1px 1px 1px black;
}
/* SERVER LIST*/
.platform-win .sidebar-2K8pFh {
    border-radius: 0px 0 0;
}
.container-3w7J-x  .content-3YMskv {
    position: relative;
    margin-top: 29px;
}
.sidebar-2K8pFh {
    width: 170px;
    background: #63609b;
}
.scroller-1JbKMe { /*barre MP */
    background-color: #63609b;
}
.privateChannels-1nO12o {
    background-color: #63609b;
}
.container-3w7J-x {
    background: #63609b;
    background-image: url(http://www.fa-series.com/wp-content/uploads/2020/11/servertitle3.png);
    background-repeat: no-repeat;
    background-position-y: 38px;
    background-size: contain;
}
.containerDefault--pIXnN, .containerDragAfter-3Fp7LC, .containerDragBefore-3iTCc7, .containerUserOver-2mv1jO {
    border-bottom: 1px solid #e6e6e626;
    box-shadow: 0px 1px #353535eb;
}
.wrapper-PY0fhH {
    color: white;
}
.wrapper-2jXpOf {
    height: 26px;
}
.container-2ax-kl { /* Categories */
    text-transform: uppercase;
    font-size: 14px;
    color: orange;
    text-shadow: 1Px 1Px 1px black;
}
.name-23GUGE {
    color: white;
    text-shadow: 1Px 1Px 1px #000000de;
}
.modeSelected-346R90 .name-23GUGE{
        color: white;
}
.modeUnread-1qO3K1 .name-23GUGE{    
    color: orange;
}
.unread-2lAfLh {
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 15px;
    top: 22%;
    left: 5px;
    margin-top: 0px;
    display: none;
}
.icon-1DeIlz {
    display: none;
}
.avatarContainer-28iYmV.avatar-3tNQiO.avatarSmall-1PJoGO {
    content: url(http://www.fa-series.com/wp-content/uploads/2020/11/contactoldmicro2.png);
background-image: none !important;
}
.avatarSmall-1PJoGO {
    width: 24px;
    height: 24px;
}
.avatar-3tNQiO {
    border-radius: 0%;
    margin-top: 0px;
    margin-bottom: 0px;
  
}
.listDefault-3ir5aS .avatarContainer-28iYmV {
    margin-right: 3px;
    margin-left: 1px;
}
.icon-2IuuZd, .username-3KYl0N {
    color: white;
}
/* MIDDLE */
.base-3dtUhz {
    left: 39px;
}
.colorDefault-22HBa0 {
    background-color: #335abd;
    color: #fff;
}
.notice-3bPHh- {
    font-size: 14px;
    line-height: 33px;
    border-radius: 0px 0 0;
}
.header-2V-4Sw {
    box-shadow: var(--elevation-low);
    background: url(http://www.fa-series.com/wp-content/uploads/2020/11/servertitle.png);
background-size:cover;
}
.container-1r6BKw.themed-ANHk51 {
background: url(http://www.fa-series.com/wp-content/uploads/2020/11/serverband-1.png);
background-repeat: repeat-x;
 background-size:contain;   
}
.newMessagesBar-265mhP {
    border-radius: 0 0 0px 0px;
    background-color: #7470c4;
}
.barBase-1c2Rfb {
    left: 0px;
    right: 0px;
    opacity: .95;
}
.theme-light .children-19S4PO:after {
    background: -webkit-gradient(linear,left top,right top,from(hsla(0,0%,100%,0)),to(var(--background-primary)));
    background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,var(--background-primary));
display:none;
    
}
.topic-TCb_qw {
    color: #fdfdfd;
    font-style: italic;
}
.isUnread-3Ef-o9 {
    border-color: #ffa500;
}
.unreadPill-2HyYtt {
    color: #fff;
    background-color: #ffa500;
}
.unreadPillCapStroke-7rkHbg {
    color: #ffa500;
    fill: #ffa500;
}
.compact-T3H92H .messageContent-2qWWxC {

}
.messagesWrapper-1sRNjr, .scrollerContent-WzeG7R {
    display: flex;
    box-shadow: inset 0px 1px 7px black;
    border-radius: 1px;
background: linear-gradient(70deg, #080808, #696969);
}
.compact-T3H92H .timestamp-3ZCmNB, .cozy-3raOZG .timestamp-3ZCmNB.alt-1uNpEt {
    text-align: right;
    font-size: 0.95rem;
    color: #ff8100;
}
.timestamp-3ZCmNB.latin12CompactTimeStamp-38a8OU {
    width: 3.25rem;
}
.username-1A8OIy {
    font-size: 1.1rem;
    font-weight: 500 !important;
    line-height: 1.375rem;
    color: #afafaf;
    text-shadow: 1px 1Px 2px #000;
    text-transform: uppercase;
}
.imageWrapper-2p5ogY {
    border-radius: 0px;
    border: solid 1px white;
    border-bottom: 2px solid #fbfbfb;
    border-top: 1px solid #d6d6d6;
    border-left: 2px solid #e0e0e0;
    box-shadow: 0px 0px 3px black;
}
.markup-2BOw-j {
    color: #ffffff;
    font-weight: 400;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px #00000082;
}
/* Contacts*/
.membersWrap-2h-GB4 {
    min-width: 196px;
}
.members-1998pB {
    width: 196px;
}
.members-1998pB .content-3YMskv {
    width: 196px !important;
    margin-top: 0px;
}
.members-1998pB, .members-1998pB>div {
        background: #63609b;
    background-size: contain;
}
.layout-2DM8Md {
    border-radius: 4px;
    height: 28px;
    padding: 0 0px;
}
.membersGroup-v9BXpm {
    padding: 7px 7px 0 14px;
    height: 27px;
    color: orange;
    text-shadow: 1px 1px 1px #00000080;
    border-bottom: 1px solid #0000004a;
    box-shadow: 0px 1px #ffffff7d;
}
.member-3-YXUe {
    margin-left: 2px;
}
.name-uJV0GL {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.content-3QAtGj, .name-uJV0GL {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;
    text-shadow: 1px 1px 1px #00000080;
}
.member-3-YXUe foreignObject {
    mask: none;
    opacity: 0;
}
.activity-2Gy-9S {
    font-size: 12px;
    line-height: 16px;
    color: #c7c7c7;
    font-weight: 500;
    max-width: 140px;
}
.mask-1l8v16 { /*status*/
    pointer-events: none;
    position: relative;
    display: block;
    height: 26px;
    width: 26px;
    bottom:5px;
    right: 0px;
    border-radius: 50%;
}
.avatar-3uk_u9 {
    width: 30px;
    height: 30px;
    margin-right: 0px;
    background: url(http://www.fa-series.com/wp-content/uploads/2020/11/contactold2.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.offline-3nJYBR {
    opacity: 1;
}
.offline-3nJYBR .avatar-3uk_u9  {
    width: 26px;
    height: 26px;
    margin-right: 8px;
    content: url(http://www.fa-series.com/wp-content/uploads/2020/11/contactoldoffline3.png);
background: transparent;
    
}

/* menu bas profil */
.panels-j1Uci_ {
    background-color: #ebedef00;
}
.title-eS5yk3 {
    color: #ffffff;
    font-weight: 200;
}
.subtext-3CDbHg {
    line-height: 13px;
}
.button-14-BFJ {

    width: 26px;
    height: 26px;
    border-radius: 3px;
    color: #fbfbfb;
}
/* BARRE HAUT ICON DROITE */
.iconWrapper-2OrFZ1 {
    margin: 0 0px;
}
.clickable-3rdHwn .icon-22AiRD {
    color: #ffffff;
}
.icon-22AiRD {
    width: 19px;
    height: 19px;
}
.searchBar-3dMhjb {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: 23px;
    width: 144px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: inset 1px 1Px 2px black;
    cursor: text;
    overflow: hidden;
    padding: 0 2px;
    color: #000000;
    background-color: #eaeaea;
}
.base-1x0h_U {
    font-weight: 600;
}
.size16-1P40sf {
    font-size: 17px;
    line-height: 22px;
    text-shadow: 1px 1Px 1Px black;
    color: #d0d0d0 !important;
}
/* chatbox */
.form-2fGMdU {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -8px;
}
.scrollableContainer-2NUZem {
    background-color: #63609b;
    border-radius: 0px;
}
.button-3AYNKb {
    color: #ffffff;
}
.attachButtonPlus-jWVFah {
    fill: #fbfbfb;
}
.icon-3D60ES {
    width: 24px;
    height: 24px;

}
.typing-2GQL18 {
    background-color: transparent;
    color:white;
    display: none;
    }
.form-2fGMdU {

    padding-left: 0px;
    padding-right: 0px;
    margin-top: -8px;
    background:linear-gradient(0deg, #535184, #63609b) ;
}
/*bouton bas avatar+son+mute */
.container-3baos1 .flex-1xMQg5 button:first-child .contents-18-Yxp svg {
    background:blue;
    background-size:contain;
    display:none;
}
.container-3baos1 .flex-1xMQg5 button:first-child  {
    background:blue;
    background:url(http://www.fa-series.com/wp-content/uploads/2020/11/micromsn2.png);
    background-size:contain;
    height:24px;
   width:24px;
   margin-right:4px}
.container-3baos1 .flex-1xMQg5 button:nth-child(2) .contents-18-Yxp svg {
    background:red;
    display:none;
}
.container-3baos1 .flex-1xMQg5 button:nth-child(2)  {
    background:red;
    background:url(http://www.fa-series.com/wp-content/uploads/2020/11/muteall0.png);
    background-size:contain;
      height:24px;
      width:24px;
      margin-right:4px;
}
.container-3baos1 .flex-1xMQg5 button:nth-child(3) .contents-18-Yxp svg {
    background:green;
   display:none;
}
.container-3baos1 .flex-1xMQg5 button:nth-child(3) {
    background:red;
    background:url(http://www.fa-series.com/wp-content/uploads/2020/11/setting.png);
    background-size:contain;
    height:24px;
    width:24px;
 /* ikons top bar right */ 
}
.toolbar-1t6TWx .iconWrapper-2OrFZ1:first-child .iconWrapper-2OrFZ1 svg{
    background:orange;
}
.toolbar-1t6TWx .iconWrapper-2OrFZ1:first-child {
    content:url(http://www.fa-series.com/wp-content/uploads/2020/11/bell.png);
    background-size:contain;
    height:24px;
    width:24px;
    margin-right:5px;
}
.toolbar-1t6TWx .iconWrapper-2OrFZ1:nth-child(2) .iconWrapper-2OrFZ1 svg{
    background:red;
}
.toolbar-1t6TWx .iconWrapper-2OrFZ1:nth-child(2){
    content:url(http://www.fa-series.com/wp-content/uploads/2020/11/pin.png);
     background-size:contain;
      height:32px;
      width:32px;
      margin-right:5px;
}
.toolbar-1t6TWx .iconWrapper-2OrFZ1:nth-child(3) .iconWrapper-2OrFZ1 svg{ 
    background:blue;
}
.toolbar-1t6TWx .iconWrapper-2OrFZ1:nth-child(3) {
    content:url('http://www.fa-series.com/wp-content/uploads/2020/11/contactstopbar.png)');
        background-size:contain;
      height:24px;
      width:24px;
      margin-right:5px;
}
.toolbar-1t6TWx .iconWrapper-2OrFZ1:nth-child(5) .iconWrapper-2OrFZ1 svg{
    background:grey;
}
.toolbar-1t6TWx .iconWrapper-2OrFZ1:nth-child(5) {
    content:url(http://www.fa-series.com/wp-content/uploads/2020/11/download.png);
        background-size:contain;
      height:24px;
      width:24px;
      margin-right:8px;
}
.toolbar-1t6TWx .iconWrapper-2OrFZ1:nth-child(6) .iconWrapper-2OrFZ1 svg{
    background:green;
}
.toolbar-1t6TWx .iconWrapper-2OrFZ1:nth-child(6) {
    content:url(http://www.fa-series.com/wp-content/uploads/2020/11/mailbox2top.png);
        background-size:contain;
      height:24px;
      width:24px;
      margin-right:8px;
}
.toolbar-1t6TWx .iconWrapper-2OrFZ1:last-child .iconWrapper-2OrFZ1 svg{
    background:violet;
}
.toolbar-1t6TWx .iconWrapper-2OrFZ1:last-child {
    content:url(http://www.fa-series.com/wp-content/uploads/2020/11/help.png);
    background-size:contain;
      height:24px;
      width:24px;
}





